<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="C_小区物业管理.Properties.Settings.projectConnectionString"
            connectionString="Data Source=BING-HE;Initial Catalog=project;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="C_小区物业管理.Properties.Settings.XiaoQuConnectionString"
            connectionString="Data Source=BING-HE;Initial Catalog=XiaoQu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>